* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  color: #fff;
}

.calculator {
  width: 380px;
  background: #111;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #333;
}

#display {
  width: 100%;
  height: 80px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
  text-align: right;
  margin-bottom: 20px;
  outline: none;
}

.advanced-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 15px;
}

.advanced-panel button {
  height: 40px;
  background: #222;
  font-size: 12px;
  color: #aaa;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

button:active {
  transform: scale(0.9);
}

.btn-num {
  background: #333;
}
.btn-num:hover {
  background: #444;
}
.btn-operator {
  background: #ff9500;
  font-size: 26px;
}
.btn-sci {
  background: #505050;
  font-size: 16px;
}
.btn-control {
  background: #a5a5a5;
  color: #000;
}
.btn-equal {
  background: #2ecc71;
  grid-row: span 2;
  border-radius: 30px;
  height: auto;
}
